/*------- Global styling ---------*/

html {
  line-height: 1.15;
  font-family: 'Signika', sans-serif;
  scroll-behavior: smooth;
  font-weight: normal;
}

body {
  margin: auto;
  color: rgba(0,0,0,.75);
  background-color: rgba(255, 255, 255, 0.815);
  display: block;
  font-weight: 200;
}

main, header, footer, nav, section {
  display: block;
}

h1 {
  font-size: 3.5em;
  font-weight: 200;
}

h3 {
  font-size: 2em;
  flex-basis: 100%;
  margin-bottom: 2.3rem;
  text-align: center;
  position: relative;
}

strong {
  font-weight: 600;
}

h1 {
  font-weight: normal;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 0;
}

a {
  background-color: transparent;
  cursor: pointer;
}

.container > * {
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
  max-width: 1200px;
  font-size: 1.25rem;
}

code {
  color: #DC143C;
  font-size: 1.25rem;
  background-color: rgba(224, 224, 224, 0.459);
  border-radius: 2.4px;
}


/*------ Navigation ------*/

 header nav.main-nav > ul {
  display: flex;
  justify-content: center;
  font-size: 1em;
  list-style-type: none;
  margin: 0;
  padding: 1rem;
}

nav.main-nav > ul > li > a{
  margin-right: 40px;
  color: #ffd05a;
  transition: color .3s ease-in-out;
  background-color: transparent;
  text-decoration: none;
}

nav.main-nav > ul > li > a:hover {
  color: #fafafafa;
}

header, .end-footer {
  background-color: #40596B;
}

/*--------- Home section -----------*/

.main-style {
  background-color: #55c0ec;
}

#show-header {
  display: flex;
  justify-content: space-around;  
}

.show-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.show-description p {
  color: #fafafafa;
  font-weight: 300;
  font-size: 1.5rem;
  text-align: center;
}

.add-to-slack {
  background-color: #fafafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  font-size: 1.5rem;
  line-height: 1;
  border-radius: 5px;
  padding: 1rem;
  width: 100%;
}

.ticky-logo img {
  max-width: 400px;
  display: flex;
  justify-content: flex-end;
  margin: 1em 2em;
}

.add-to-slack img {
  max-width: 40px;
  padding-right: 10px;
}

/*--------- About section -----------*/

#features {
  background-color: #90ddaa;
}

.about-1 {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.span-across {
  flex-basis: 100%;
}

/*--------- Features section -----------*/

.card img {
  max-width: 225px;
  margin: 4rem 0;
}

.card {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-self: stretch; 
  justify-content: center;
  width: 100%;
  /* background-color: #40596B; */
}

/*--------- Add section section -----------*/

#add-btn {
  color: #fafafafa;
  background-color: #40596B;
  text-decoration: none;
}

.span-across {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


/*--------- Footer section -----------*/
#footer-text p {
  font-size: .8rem;
  color: #fafafafa;
  -webkit-font-smoothing: antialiased;
  display: block;
  text-align: center;
  padding: 0.5rem 0;
  margin-bottom: .2rem;
}

#footer-text p a {
  color: #fafafafa;
}

.back-top {
  float: right;
  background-color: #ffd05a;
  text-decoration: none;
  border: 0;
  border-radius: 4px;
  overflow: hidden;
  bottom: 1rem;
}

.back-top-text {
  color: #ffd05a;
  text-decoration: none;
}

/*-------- Button animation ---------*/

.hvr-grow {
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}



/* FLEXBOX
justify-content (vertical): flex-start, flex-end, center, space-between, space-around

align-items (horizontal): flex-start, flex-end, center, baseline, stretch

flex-direction: row, row-reverse, column, column-reverse

order: [int]

align-self (horizontal, single item): flex-start, flex-end, center, baseline, stretch

flex-wrap (items on single or dbl line): nowrap, wrap, wrap-reverse

flex-flox (direction and wrap): [direction wrap]

align-content (space between lines): flex-start, flex-end, center, space-between, space-around, stretch
*/