/*------- Global styling ---------*/

html {
  line-height: 1.15;
  font-family: 'Signika', sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: auto;
  color: rgba(0,0,0,.75);
  background-color: rgba(255, 255, 255, 0.815);
  display: block;
  font-weight: 300;
}

main, header, footer, nav, section {
  display: block;
}

h1 {
  font-size: 1.85em;
  margin: 1em;
}

strong {
  font-weight: 600;
}

/* h3, h1 {
  font-weight: normal;
} */


a {
  background-color: transparent;
  cursor: pointer;
}

.container {
  display: flex;
  /* flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around; */
  margin: 0 auto;
  padding: 0 1rem;
  align-items: center;
  font-size: 1.25rem;
  width: 100%;
}


/*------ Section Positioning and Styles ------*/

.main-nav {
  display: flex;
  justify-content: center;
}

 header nav.main-nav > ul {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  list-style-type: none;
  margin: 0;
  padding: 1rem;
}

nav.main-nav > ul > li > a{
  margin-right: 40px;
  color: #ffd05a;
  transition: color .3s ease-in-out;
  background-color: transparent;
  text-decoration: none;
}

nav.main-nav > ul > li > a:hover {
  color: #fafafafa;
}

header, .end-footer {
  background-color: #40596B;
}

.main-style {
  background-color: #55c0ec;
}

.show-description {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.show-description p {
  color: #fafafafa;
  font-weight: 300;
  font-size: 1.5rem;
}

.add-to-slack {
  background-color: #fafafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  font-size: 1.5rem;
  line-height: 1;
  border-radius: 5px;
  padding: 1rem 2.5rem;
}

.show-img {
  margin-right: 1rem;
}

.ticky-logo img {
  max-width: 400px;
}

.add-to-slack img {
  max-width: 40px;
}

#features {
  background-color: #90ddaa;
}

.card img {
  max-width: 225px;
  margin: 4rem 0;
}

.card {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-self: stretch;
  /* background-color: #40596B; */
}

.back-top {
  float: right;
}



/* FLEXBOX
justify-content (vertical): flex-start, flex-end, center, space-between, space-around

align-items (horizontal): flex-start, flex-end, center, baseline, stretch

flex-direction: row, row-reverse, column, column-reverse

order: [int]

align-self (horizontal, single item): flex-start, flex-end, center, baseline, stretch

flex-wrap (items on single or dbl line): nowrap, wrap, wrap-reverse

flex-flox (direction and wrap): [direction wrap]

align-content (space between lines): flex-start, flex-end, center, space-between, space-around, stretch
*/